@page
@model CarBookingApp.Pages.Styles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Style</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Style.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Style.Name)
        </dd>
    </dl>
</div>
@await Html.PartialAsync("_DetailsButtonShared", Model.Style.Id)
