@page
@model CarBookingApp.Pages.Styles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <partial name="_IndexCreateButtonPartial" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Styles[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Styles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @await Html.PartialAsync("_IndexButtonsPartial", item.Id)
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_IndexDeleteFormPartial" />
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/DeleteIndexOption.js"></script>
}

