@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<button class="btn btn-warning" type="submit">
    <i class="fa fa-save" aria-hidden="true"></i> Save
</button>
<a class="btn btn-outline-primary" asp-page="Index"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to List</a>
