@page
@model CarBookingApp.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Car</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.MakeId" class="control-label"></label>
                <select class="form-control" asp-for="Car.MakeId" asp-items="Model.Makes">
                    <option>Select Make</option>
                </select>
                <span asp-validation-for="Car.MakeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarModelId" class="control-label"></label>
                <select class="form-control" asp-for="Car.CarModelId" asp-items="Model.CarModels">
                    <option>Select Model</option>
                </select>
                <span asp-validation-for="Car.CarModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Name" class="control-label"></label>
                <input asp-for="Car.Name" class="form-control" />
                <span asp-validation-for="Car.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.StyleId" class="control-label"></label>
                <select class="form-control" asp-for="Car.StyleId" asp-items="Model.Styles">
                    <option>Select Style</option>
                </select>
                <span asp-validation-for="Car.StyleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.RegnNo" class="control-label"></label>
                <input asp-for="Car.RegnNo" class="form-control" />
                <span asp-validation-for="Car.RegnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-save" aria-hidden="true"></i> Create
                </button>
                <a class="btn btn-outline-primary" asp-page="Index"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
