@page
@model CarBookingApp.Pages.Cars.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Car</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.MakeId" class="control-label"></label>
                <select id="DDLCarMake" class="form-control" asp-for="Car.MakeId" asp-items="Model.Makes">
                    <option>Select Make</option>
                </select>
                <span asp-validation-for="Car.MakeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.CarModelId" class="control-label"></label>
                <select id="DDLCarModel" class="form-control" asp-for="Car.CarModelId">
                    <option>Select Make First</option>
                </select>
                <span asp-validation-for="Car.CarModelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Name" class="control-label"></label>
                <input asp-for="Car.Name" class="form-control" />
                <span asp-validation-for="Car.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.StyleId" class="control-label"></label>
                <select class="form-control" asp-for="Car.StyleId" asp-items="Model.Styles">
                    <option>Select Style</option>
                </select>
                <span asp-validation-for="Car.StyleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.RegnNo" class="control-label"></label>
                <input asp-for="Car.RegnNo" class="form-control" />
                <span asp-validation-for="Car.RegnNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">
                    <i class="fa fa-save" aria-hidden="true"></i> Create
                </button>
                <a class="btn btn-outline-primary" asp-page="Index"> <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="~/js/CascadingDdlCarScript.js"></script>
   
<script>
    $('#DDLCarMake').change(function () {
        fnLoadChildDDl('DDLCarMake', 'DDLCarModel', 'Select Model', 'Create?handler=CarModels');

    });

    @*$('#DDLCarMake').change(function () {
        var CarMakeID = $(this).val();
        console.log(CarMakeID);
        $('#DDLCarModel').html('<option>Select Model</option>');

        $.getJSON('Create?handler=CarModels', { CarMakeID: CarMakeID }, function (data) {
            console.log(data);
            $.each(data, function (i, item) {
                $("select#DDLCarModel").append(`<option value="${item.id}">${item.name}</option>`);
            });
        });
    });*@

    @* Can be used - WORKING
    $("#DDLCarModel").empty();
    $("#DDLCarModel").append("<option value=''>Select Model</option>");*@

    @* Can be used - WORKING
    $.each(data, function (key, value) {
        var option = $('<option></option>').attr('value', value.id).text(value.name);
        $('#DDLCarModel').append(option);
    });*@

            @* Can be used, BUT NOT WORKING
    $.each(data, function (i, product) {
        Items += "<option value= '" + product.value + "'>" + product.text + "</option >";
        $('#DDLCarModel').html(items);
    });*@
</script>
}
